* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cormorant Garamond";
  font-size: 16px;
  background-color: #F8F7F5;
  max-width: 100%;
  overflow-x: hidden;
}
/************************************CONTENT***************************************/
.page-wrapper {
  font-size: 1rem;
  line-height: 1.33rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-block {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event {
  gap: 10px;
  padding: 6px 0px;
  text-align: center;
}
.hero-image-wrapper {
  height: 100%;
  padding:0px max(7.5%, 20px);
  background-image: url("Images/image-1.jpg"); /* The image used */
  background-position: 80%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wedding-logo{
 display: flex;
 justify-content: center;
}
.wedding-logo img{
  height: 100%;
  width: 100%;
  max-width: 700px;
}
.hashtags, .scripture{
  padding: 6px 0px;
  text-align: center;
}
.content-wrapper{
  margin: 0px max(12%, 40px);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  text-align: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  text-align: center;
}
.text-wrapper img {
  width: 125px;
}
.details {
  padding-bottom: 40px;
}
.header-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.line {
  background-color: #000000;
  height: 1px;
  width: 15%;
}
h2 {
  font-family: "Dancing Script";
  font-size: 2rem;
  text-decoration: underline;
  white-space: nowrap;
}
.link {
  color: #000000;
  text-decoration: none;
}
.address {
  text-decoration: underline;
}
.button-wrapper {
  background-color: #F8F7F5;
  border: 1px solid #000000;
  padding: 6px 8px;
  border-radius: 2px;
}
.gift {
  width: 134px;
}
.parking-button {
  width: fit-content;
  padding: 6px 8px;
  border-radius: 2px;
}
.scripture {
  text-align: center;
}
.text {
  font-size: 1.33rem;
  font-weight: 700;
}
.bold {
  font-weight: 700;
}
.italics {
 font-style: italic;
}
.break {
  display: none;
}
/***********************************TABLET****************************************/
@media only screen and (min-width: 768px) {
  .page-wrapper {
    row-gap: 60px;
}
  .hero-image-wrapper {
  background-position: 50% 25%; 
}
.wedding-logo img{
  max-width: 750px;
}
  .content-wrapper{
  margin: 0px max(20%, 60px);
}
.details {
  padding-bottom: 20px;
}
.break {
  display: inline;
}
}
/***********************************SMALL DESKTOP****************************************/
@media only screen and (min-width: 992px) {
  .page-wrapper {
    row-gap: 80px;
}
  .hero-image-wrapper {
  background-position: 40% 20%; 
}
  .content-wrapper{
    flex-direction: row;
    align-items: start;
    gap: 100px;
    margin: 0px max(4%, 80px);
}
.text-wrapper {
  max-width: 500px;
}
.wedding-logo img {
  max-width: 900px;
}
.details {
  padding-bottom: 0px;
}
.break {
  display: none;
}
}
/***********************************DESKTOP****************************************/
@media only screen and (min-width: 1200px) {
    html, body {
    font-size: 16px;
}
  .page-wrapper {
    row-gap: 120px;
}
  .content-wrapper{
    margin: 0px max(12%, 120px);
    justify-content: center;
}
  .hero-image-wrapper {
    background-image: url(Images/image-4.jpg);
    background-position: 50% 80%; 
}
.wedding-logo img{
  max-width: 1200px;
}
.break {
  display: inline;
}
}
/***********************************LARGE DESKTOP****************************************/
@media only screen and (min-width: 1440px) {
    html, body {
    font-size: 20px;
}
.content-wrapper{
    gap: 6%;;
}
.text-wrapper {
  max-width: 600px;
}
.text-wrapper img {
  width: 175px;
}
.gift {
  width: 163px;
}
}
/***********************************EXTRALARGE DESKTOP****************************************/
@media only screen and (min-width: 1920px) {
  html, body {
    font-size: 24px;
  }
  .hero-image-wrapper {
  background-position: 50% 20%; 
}
.wedding-logo img{
  max-width: 1400px;
}
.text-wrapper {
  gap: 40px;
  max-width: 800px;
}
  .content-wrapper {
    gap: 6%;
}
.gift {
  width: 192.017px;
}
}
